footer {
    background-color: #fd3c3d;
    height: 85px;
}
a {
    color: black;
}

.iconos {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
