footer {
    background-color: red;
    height: 85px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px;
}
a {
    color: black;
}

.iconos {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
