section {
    color: white;
}

.tarjeta {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 20px 0;
    background-color: rgba(104, 104, 104, 0.452);
    border: 1px solid rgba(109, 109, 109, 0.1);
}
h2 {
    padding-bottom: 1em;
}
.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}


.botonGuardarEjercicio {
    background-color: red;
    margin-bottom: 5px;
}

// Boton eliminar dieta
.botonEliminarEjercicio{
    background-color: red;
    margin-bottom: 5px;
}

.eliminarCheck{
    margin-left: 5px;
    margin-top: 7px;
}
.divEliminar{
    display: flex;
    justify-content: center;
}

// Css para version movil
@media only screen and (max-width: 768px) {
    .divEliminar{
        display: block
    }
    .eliminarCheck{
        display: flex;
        justify-content: center;
    }
}
