<section class="col-sm-12 pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 tarjeta row " *ngIf="ejercicio">
            <h2 class="col-sm-12 text-center"> {{ejercicio.nombre}}</h2>
            <div class="col-sm-12 col-md-6 informacion">
                <h4>Explicación:</h4>
                <p> {{ejercicio.explicacion}}</p>
                <h4>Observaciones:</h4>
                <p>{{ejercicio.consejos}}</p>
            </div>
            <div class="col-sm-12 col-md-6 imagen">
                <img src="assets/imagenes/ejercicios/{{ejercicio.imagen}}" class="img-fluid">
            </div>
            <div class="col-sm-12 video" *ngIf="ejercicio.video">
                <iframe width="560" height="315" [src]="getVideoIframe(ejercicio.video)" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-sm-12 p-2 divEliminar" *ngIf="acceso == '1'">
                <button type="submit" class="btn botonEliminarEjercicio col-sm-12 col-md-2 ml-auto" [disabled]="!checkActivado" (click)="eliminarEjercicio()">
                    <i class="fas fa-trash-alt pr-1"></i> Eliminar ejercicio
                </button>
                <div class="custom-control custom-checkbox col-sm-12 col-md-6 eliminarCheck">
                    <input type="checkbox" class="custom-control-input " id="eliminar" (click)="checkEliminar()">
                    <label class="custom-control-label" for="eliminar">¿Seguro que quieres eliminar el ejercicio?</label>
                </div>
            </div>
        </div>

    </div>
</section>