
<section>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 col-md tarjeta row ">
                <img src="/assets/imagenes/tablas.png" alt="Acceso a tablas">
                <h3 class="col-sm-12">Tablas</h3>
            </div>
            <div class="col-sm-12  col-md tarjeta row">
                <img src="/assets/imagenes/ejercicios.png" alt="Acceso a tablas">
                <h3 class="col-sm-12">Ejercicios</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md tarjeta row">
                <img src="/assets/imagenes/dietas.png" alt="Acceso a tablas">
                <h3 class="col-sm-12">Dietas</h3>
            </div>
            <div class="col-sm-12 col-md tarjeta row">
                <img src="/assets/imagenes/seguimiento.png" alt="Acceso a tablas">
                <h3 class="col-sm-12">Seguimiento</h3>
            </div>
            <div class="col-sm-12 col-md tarjeta row">
                <img src="/assets/imagenes/clases.png" alt="Acceso a tablas">
                <h3 class="col-sm-12">Clases</h3>
            </div>
        </div>
    </div>
</section>



