nav{
    height:60px;
    width: 100%;
    background-color:red  ;
    padding: 1em;
}

a{
    color: black !important;
}

@media only screen and (max-width: 768px) {
    nav{
        height:122px;
        width: 100%;
        padding: 1em;
        transition: 0.5s;
    }
  }