<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">
        <img src="/assets/imagenes/logoImpacto.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Tablas </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ejercicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dietas</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Seguimiento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Clases</a>
            </li>
        </ul>
    </div>
</nav>