<nav class="navbar navbar-expand-sm navbar-light" id="navbar">
    <a class="navbar-brand" href="/menu">
        <img src="/assets/imagenes/logoImpacto.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="expandirNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse navbarDiv" id="navbarSupportedContent" *ngIf="comprobarAutentificacion()">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"  href="/tablas">Tablas </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Ejercicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Dietas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Seguimiento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Clases</a>
            </li>

        </ul>
        <ul  class="navbar-nav ">
            <li class="nav-item dropleft ">
                <a class="nav-link dropleft-toggle " id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{usuarioLogeado.nombre}}
                    <i class="fas fa-user fa-2x ml-2"></i>
                    
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Cambiar contraseña</a>
                    <a class="dropdown-item" href="#" (click)="cerrarSesion()">Cerrar sesion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

