.botonCrearClase {
    background-color: red;
    margin-bottom: 5px;
}

.botonCalendario{
    position: absolute;
    z-index: 100;
    top:24px;
    left: 240px;
}

// Css para version movil
@media only screen and (max-width: 768px) {
    .botonCalendario {
        left: 330px;
    }

}
