<div class="container">
    <h2 class="login-header">LOGIN</h2>
    <div class="col-xs-12 col-sm-12" [formGroup]="formLogin" class="login-container">
        <label class="col-xs-12 control-label ">
            DNI
            <input type="text" class="form-control input-sm" formControlName="dni">
        </label>
        <label class="col-xs-12 control-label ">
            Contraseña
            <input type="text" class="form-control input-sm" formControlName="password">
        </label>
        <button (click)="accederApp()" type="button" class="btn btn-success">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            ACCEDER
        </button>
    </div>
</div>