// General es el div que engloba toda la pagina por lo que indicamos que ocupe todo nuestro navegador y ponemos un fondo
section {
    min-height: calc(100vh - 60px - 85px);
    background: url("src/assets/imagenes/fondoLogin.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Card es la tarjeta del login
.card {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.849) !important;
    margin: auto auto;
}

// Social_icon son los iconos de las redes sociales, les ponemos color, cambios con el hover y posicion sobresaliendo de la tarjeta
.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: red;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

// Color al titulo de la tarjeta de login
.card-header h3 {
    color: white;
}

// Inputs del formulario de login
.input-group-prepend span {
    width: 50px;
    background-color: red;
    color: black;
    border: 0 !important;
}

// Boton de login, colores y cambios con hover
.login_btn {
    color: black;
    background-color: red;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

a {
    color: red;
}
