<section class="col-sm-12 pt-4">
    <div class="row" *ngIf="acceso == '1'">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="col-md-4 pt-5">
                <buscador-component (selected)="selectUsuario($event)" [config]="configBuscador">
                </buscador-component>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center " *ngIf="idUsuario != null">
        <div class="col-md-8 tarjetaSeguimiento">
            <h4>Indices</h4>
            <div class="table-responsive">
                <table class="table table-dark text-center " [formGroup]="formNuevoIndice" *ngIf="seguimiento">
                    <tr class="d-flex">
                        <th class="col-3 col-md-2">Fecha</th>
                        <td class="col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="fechaIndice">
                        </td>
                        <td class="col-2 col-md" *ngFor="let indice of seguimiento.indice">
                            {{indice.fecha}}
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-3 col-md-2">Peso</th>
                        <td class="col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="peso" (change)="calculoIMC()">
                        </td>
                        <td class="col-2 col-md" *ngFor="let indice of seguimiento.indice">
                            {{indice.peso}} Kg
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-3 col-md-2">Altura(cm)</th>
                        <td class="col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="altura" (change)="calculoIMC()">
                        </td>
                        <td class="col-2 col-md" *ngFor="let indice of seguimiento.indice">
                            {{indice.altura}} cm
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-3 col-md-2">IMC</th>
                        <td class="col-3 col-md-2">
                            <input type="text" class="form-control" disabled formControlName="imc">
                        </td>
                        <td class="col-2 col-md" *ngFor="let indice of seguimiento.indice">
                            {{indice.imc}} %
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-3 col-md-2">Grasa</th>
                        <td class="col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="grasa">
                        </td>
                        <td class="col-2 col-md" *ngFor="let indice of seguimiento.indice">
                            {{indice.grasa}} %
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-3 col-md-2">Guardar</th>
                        <td class="col-3 col-md-2 text-center">
                            <button class="btn botonAñadirIndice mx-auto" (click)="guardarIndice()"
                                [disabled]="!formNuevoIndice.valid">
                                <i class="fas fa-save"></i> </button>
                        </td>
                        <td class="col-2 col-md text-center" *ngFor="let indice of seguimiento.indice">
                            <button class="btn botonAñadirIndice mx-auto" (click)="eliminarIndice(indice._id)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-8 tarjetaSeguimiento">
            <h4>Medidas</h4>
            <div class="table-responsive">
                <table class="table table-dark text-center " [formGroup]="formNuevaMedidas" *ngIf="seguimiento">
                    <tr class="d-flex">
                        <th class="col-3 col-md-2">Fecha</th>
                        <td class="col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="fechaMedidas">
                        </td>
                        <td class="col-2 col-md" *ngFor="let medida of seguimiento.medida">
                            {{medida.fecha }}
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class=" col-3 col-md-2">Biceps</th>
                        <td class=" col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="biceps">
                        </td>
                        <td class=" col-2 col-md" *ngFor="let medida of seguimiento.medida">
                            {{medida.biceps}} cm
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class=" col-3 col-md-2">Hombros</th>
                        <td class=" col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="hombros">
                        </td>
                        <td class=" col-2 col-md" *ngFor="let medida of seguimiento.medida">
                            {{medida.hombros}} cm
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class=" col-3 col-md-2">Pecho</th>

                        <td class=" col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="pecho">
                        </td>
                        <td class=" col-2 col-md" *ngFor="let medida of seguimiento.medida">
                            {{medida.pecho}} cm
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class=" col-3 col-md-2">Cintura</th>
                        <td class=" col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="cintura">
                        </td>
                        <td class=" col-2 col-md" *ngFor="let medida of seguimiento.medida">
                            {{medida.cintura}} cm
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class=" col-3 col-md-2">Gluteo</th>
                        <td class=" col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="gluteo">
                        </td>
                        <td class=" col-2 col-md" *ngFor="let medida of seguimiento.medida">
                            {{medida.gluteo}} cm
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class=" col-3 col-md-2">Muslo</th>
                        <td class=" col-3 col-md-2">
                            <input type="text" class="form-control" formControlName="muslo">
                        </td>
                        <td class=" col-2 col-md" *ngFor="let medida of seguimiento.medida">
                            {{medida.muslo}} cm
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class=" col-3 col-md-2">Guardar</th>
                        <td class=" col-3 col-md-2 text-center">
                            <button class="btn botonAñadirIndice mx-auto" (click)="guardarMedidas()"
                                [disabled]="!formNuevaMedidas.valid">
                                <i class="fas fa-save"></i>
                            </button>
                        </td>
                        <td class=" col-2 col-md text-center" *ngFor="let medida of seguimiento.medida">
                            <button class="btn botonAñadirIndice mx-auto" (click)="eliminarMedida(medida._id)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>