// Diseño de la tarjeta para cada dia de la tabla
.tarjetaSeguimiento {
    background-color: rgba(104, 104, 104, 0.452);
    border: 1px solid rgba(109, 109, 109, 0.1);

    margin: 1em;
    padding: 1.5em;
}
th {
    background-color: rgb(47, 47, 47) !important;
}
.botonAñadirIndice {
    background-color: red;
}

// Css para version movil
@media only screen and (max-width: 768px) {
    .divEliminar{
        display: block
    }
    .eliminarCheck{
        display: flex;
        justify-content: center;
    }
    table{
        font-size: 12px;
    }
    input{
        font-size: 12px;
    }
    td{
        background-color: #343a40;
    }

}
