<section class="col-sm-12 ">
    <div class="row d-flex justify-content-center" *ngIf="tabla">
        <h2 class="col-sm-12 text-center"> {{tabla.nombre}}</h2>
        <div class="col-md-8 dia" *ngFor="let dia of tabla.dia;index as i">
            <h4>Dia {{i+1}}</h4>
            <div class="table-responsive">
                <table class="table table-dark  ">
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-4 col-md-7">Ejercicio</th>
                            <th class="col-5 col-md-3">Repeticiones</th>
                            <th class="col-3 col-md-2">Peso Max</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ejercicio of dia.ejercicio" class="d-flex">
                            <td class="col-4 col-md-7">{{ejercicio.nombre}}</td>
                            <td class="col-5 col-md-3">{{ejercicio.repeticiones}}</td>
                            <td class="col-3 col-md-2">
                                <div [formGroup]="formPesoMax">
                                    <input type="text" class="form-control" formControlName="pesoMax"
                                        (change)="actualizarPeso(ejercicio._id,dia._id)" placeholder="{{ejercicio.pesoMax}}">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <button type="submit" class="btn botonGuardarPesos col-md-8 mx-auto" (click)="actualizarPesosTabla()"
                    [disabled]="cambiosPesoMax.length==0">
                    <i class="fas fa-plus-circle"></i> Guardar pesos nuevos
                </button>
            </div>

        </div>
        <div class="col-sm-12 p-2 divEliminar" >
            <button type="submit" class="btn botonEliminarTabla col-sm-12 col-md-2 ml-auto" [disabled]="!checkActivado" (click)="eliminarTabla()">
                <i class="fas fa-trash-alt pr-1"></i> Eliminar tabla
            </button>
            <div class="custom-control custom-checkbox col-sm-12 col-md-6 eliminarCheck">
                <input type="checkbox" class="custom-control-input " id="eliminar" (click)="checkEliminar()">
                <label class="custom-control-label" for="eliminar">¿Seguro que quieres eliminar la tabla?</label>
            </div>
        </div>
    </div>
</section>