h2{
    padding-top: 1em;;
}

// Diseño de la tarjeta para cada dia de la tabla
.dia{
    background-color: rgba(104, 104, 104, 0.452);
    border: 1px solid rgba(109, 109, 109, 0.1);
   
    margin: 1em;
    padding: 1.5em;;
}

// Color de la cabecera de la tabla
th{
    background-color: rgb(47, 47, 47) !important;
}

// Boton guardar pesos nuevos
.botonGuardarPesos{
    background-color: red;
    margin-bottom: 5px;
}

// Boton eliminar dieta
.botonEliminarTabla{
    background-color: red;
    margin-bottom: 5px;
}

.eliminarCheck{
    margin-left: 5px;
    margin-top: 7px;
}
.divEliminar{
    display: flex;
    justify-content: center;
}
.compartirTabla{
    background-color: rgba(104, 104, 104, 0.452);
    border: 1px solid rgba(109, 109, 109, 0.1);
   
    margin: 1em;
}

// Css para version movil
@media only screen and (max-width: 768px) {
    .divEliminar{
        display: block
    }
    .eliminarCheck{
        display: flex;
        justify-content: center;
    }
}
